.counter {
  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.8px solid #a3a3a3;
  border-radius: 50px;
  
  overflow: hidden;
}

.counter button:nth-child(1) {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0.8px solid #a3a3a3;
  // border-radius: 50%;
  background-color: transparent;
  // border-radius: 50%;
}
.counter button:nth-child(3) {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 0.8px solid #a3a3a3;
  background-color: transparent;
  // border-radius: 50%;
}

.counter .num {
  font-size: 16px;
  margin: 0 8px;
}

